html, body, .App, #root {
  height: 100%;
}

h1 {
  text-decoration: underline;
}

.App {
  text-align: center;
  display: flex;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts {
  width: 80%;
  margin: 1rem auto;
  text-align: left;
}

.post {
  border: 2px solid black;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 0.5rem;
}

.return {
  padding: 0.5rem;
  border-radius: 5px;
}

.return:hover {
  font-weight: bold;
}

.user {
  cursor: pointer;
  font-size: x-large;
  margin: 0.5rem 0;
}

.user:hover {
  font-weight: bold;
}

.users {
  border: 2px solid black;
  width: 80%;
  padding: 1rem 0;
  margin: auto;
  border-radius: 10px;
}